#ongPageBody .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-state-default {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 10px 0px 0px 10px;
}

#ongPageBody .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-state-active {
	border: 2px solid !important;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 10px 0px 0px 10px;
}

#ongPageBody .ui-tabs-nav {
	background-color: #ededed !important;
}

#ongPageBody .ui-tabs-panels {
	margin: 0px 10px !important;
	border-radius: 0px 20px 20px 20px !important;
}

#ongPageBody .ui-tabs-nav:before {
	border: 0px !important;
}

#ongPageBody {
	background-color: #ededed;
}

.ui-card-header img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.ui-card {
	border-radius: 20px !important;
	border: 2px solid;
	border-color: #426CB4;
}

.container {
	border-style: solid;
	border-width: 0px;
	border-color: #426CB4;
	border-radius: 20px;
}

h1 {
	color: #426CB4;
}

.ui-card-subtitle {
	height: 100px;
}

.ui-card-content {
	padding: 0px !important;
}

.ui-card-footer {
	height: 70px;
}

#imgOng {
	border-style: solid;
	border-width: 1px;
	border-color: #426CB4;
	border-radius: 20px;
}

hr {
	opacity: 1;
	background-color: #426CB4;
	height: 1px !important;
	border: none;
}

.ui-card-body{
	text-align: center;
}