#userProfilBody .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-state-default {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 10px 0px 0px 10px;
	
}	

#userProfilBody .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-state-active {
	border: 2px solid !important;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 10px 0px 0px 10px;
	
}

#userProfilBody .ui-tabs-nav{
	background-color: #ededed !important;
}

#userProfilBody .ui-tabs-panels {
	margin:0px 10px !important;
	border-radius: 0px 20px 20px 20px !important;
	
}

#userProfilBody .ui-card-header img{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#userProfilBody .ui-card {
	border-radius: 20px !important;
	border: 2px solid;
}

#userProfilBody .ui-tabs-nav:before {
	border: 0px !important;
}

#userProfilBody {
	background-color: #ededed;
}

td img {
	object-fit: cover;
	object-position: center;
	max-height: 120px;
}
